<a href="https://colab.research.google.com/github/RiyaG04/AICTE-INTERNSHIP/blob/main/IBM_PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# import utilities
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.metrics import accuracy_score

In [ ]:
# load dataset
df1=pd.read_csv("/content/drive/MyDrive/mental-and-substance-use-as-share-of-disease.csv")

In [ ]:
df2=pd.read_csv("/content/drive/MyDrive/prevalence-by-mental-and-substance-use-disorder.csv")

In [ ]:
# chrckinh datset 5 rows
df1.head()

,Entity,Code,Year,DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent)
0,Afghanistan,AFG,1990,1.696670
1,Afghanistan,AFG,1991,1.734281
2,Afghanistan,AFG,1992,1.791189
3,Afghanistan,AFG,1993,1.776779
4,Afghanistan,AFG,1994,1.712986

In [ ]:
df2.head()

,Entity,Code,Year,Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent),Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent),Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,0.228979,0.721207,0.131001,4.835127,0.454202,5.125291,0.444036
1,Afghanistan,AFG,1991,0.228120,0.719952,0.126395,4.821765,0.447112,5.116306,0.444250
2,Afghanistan,AFG,1992,0.227328,0.718418,0.121832,4.801434,0.441190,5.106558,0.445501
3,Afghanistan,AFG,1993,0.226468,0.717452,0.117942,4.789363,0.435581,5.100328,0.445958
4,Afghanistan,AFG,1994,0.225567,0.717012,0.114547,4.784923,0.431822,5.099424,0.445779

In [ ]:
# listing name of columns
df1.columns

Index(['Entity', 'Code', 'Year',
       'DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent)'],
      dtype='object')

In [ ]:
df2.columns

Index(['Entity', 'Code', 'Year',
       'Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent)',
       'Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent)',
       'Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent)',
       'Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent)',
       'Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent)',
       'Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)',
       'Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)'],
      dtype='object')

In [ ]:
# merging dataset
df2['DALYS']=df1[
       'DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent)']

In [ ]:
df2.head()

,Entity,Code,Year,Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent),Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent),Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent),DALYS
0,Afghanistan,AFG,1990,0.228979,0.721207,0.131001,4.835127,0.454202,5.125291,0.444036,1.696670
1,Afghanistan,AFG,1991,0.228120,0.719952,0.126395,4.821765,0.447112,5.116306,0.444250,1.734281
2,Afghanistan,AFG,1992,0.227328,0.718418,0.121832,4.801434,0.441190,5.106558,0.445501,1.791189
3,Afghanistan,AFG,1993,0.226468,0.717452,0.117942,4.789363,0.435581,5.100328,0.445958,1.776779
4,Afghanistan,AFG,1994,0.225567,0.717012,0.114547,4.784923,0.431822,5.099424,0.445779,1.712986

In [ ]:
df2.isnull().sum()    # checking null values

Entity                                                                                0
Code                                                                                690
Year                                                                                  0
Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent)              0
Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent)           0
Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent)           0
Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent)          0
Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent)         0
Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)       0
Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)      0
DALYS                                                                                 0
dtype: int64

In [ ]:
l=df2['Code'].value_counts()  # checking categories of code coumn

In [ ]:
l

AFG    30
PRY    30
PRK    30
MKD    30
MNP    30
       ..
GRD    30
GUM    30
GTM    30
GIN    30
ZWE    30
Name: Code, Length: 205, dtype: int64

In [ ]:
df=df2[df2['Code'].isnull()==False] # removing null values

In [ ]:
df.isnull().sum()

Entity                                                                              0
Code                                                                                0
Year                                                                                0
Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent)            0
Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent)         0
Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent)         0
Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent)        0
Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent)       0
Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)     0
Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)    0
DALYS                                                                               0
dtype: int64

In [ ]:
df.info()   # taking information about dataset

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6150 entries, 0 to 6839
Data columns (total 11 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   Entity                                                                            6150 non-null   object
 1   Code                                                                              6150 non-null   object
 2   Year                                                                              6150 non-null   int64
 3   Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent)          6150 non-null   float64
 4   Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent)       6150 non-null   float64
 5   Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent)       6150 non-null   float64
 6   Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent)      6150 non-null   float64
 7   Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent)     6150 non-null   float64
 8   Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)   6150 non-null   float64
 9   Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)  6150 non-null   float64
 10  DALYS                                                                             6150 non-null   float64
dtypes: float64(8), int64(1), object(2)
memory usage: 576.6+ KB

In [ ]:
df['Year'].value_counts()   # checking categories in year column

1990    205
1991    205
2018    205
2017    205
2016    205
2015    205
2014    205
2013    205
2012    205
2011    205
2010    205
2009    205
2008    205
2007    205
2006    205
2005    205
2004    205
2003    205
2002    205
2001    205
2000    205
1999    205
1998    205
1997    205
1996    205
1995    205
1994    205
1993    205
1992    205
2019    205
Name: Year, dtype: int64

In [ ]:
# importing machine learning algorithm for training and testing
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [ ]:
df.head()

,Entity,Code,Year,Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent),Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent),Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent),DALYS
0,Afghanistan,AFG,1990,0.228979,0.721207,0.131001,4.835127,0.454202,5.125291,0.444036,1.696670
1,Afghanistan,AFG,1991,0.228120,0.719952,0.126395,4.821765,0.447112,5.116306,0.444250,1.734281
2,Afghanistan,AFG,1992,0.227328,0.718418,0.121832,4.801434,0.441190,5.106558,0.445501,1.791189
3,Afghanistan,AFG,1993,0.226468,0.717452,0.117942,4.789363,0.435581,5.100328,0.445958,1.776779
4,Afghanistan,AFG,1994,0.225567,0.717012,0.114547,4.784923,0.431822,5.099424,0.445779,1.712986

In [ ]:
df.columns

Index(['Entity', 'Code', 'Year',
       'Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent)',
       'Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent)',
       'Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent)',
       'Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent)',
       'Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent)',
       'Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)',
       'Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)',
       'DALYS'],
      dtype='object')

In [ ]:
x=df[[
       'Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent)',
       'Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent)',
       'Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent)',
       'Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent)',
       'Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent)',
       'Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)',
       'Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)']]

In [ ]:
y=df['DALYS']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=20)
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(4612, 7) (4612,)
(1538, 7) (1538,)

In [ ]:
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [ ]:
lr.coef_

array([29.80430279,  3.18659432,  3.81096466,  0.2788024 , -1.36114097,
        0.14075911, -0.38883971])

In [ ]:
lr.intercept_

-6.654307838533478

In [ ]:
pred=lr.predict(x_test)

In [ ]:
# Linear Regression accuracy
lr.score(x_test,y_test)

0.7406029622666779

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score
import numpy as np
mse=mean_squared_error(y_test,pred)
rmse=np.sqrt(mse)
print("Mean square error",mse)
print("Root mean square error",rmse)

Mean square error 1.4360501360890663
Root mean square error 1.1983530932446689

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

param_grid = {
    'max_depth': [None, 5, 10],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 'sqrt']
}

# Create the Decision Tree model
dt = DecisionTreeRegressor()

# Perform grid search cross-validation
grid_search = GridSearchCV(dt, param_grid, cv=3)
grid_search.fit(x_train, y_train)

# Print the best hyperparameters
print("Best Hyperparameters:", grid_search.best_params_)

# Predict on the test set using the best model
best_model = grid_search.best_estimator_
y_pred = best_model.predict(x_test)

# Evaluate the regression performance
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
rmse=np.sqrt(mse)

In [ ]:
# accuracy of decision tree
print("Mean Squared Error:", mse)
print("R-squared:", r2)
print("Root mean square error",rmse)

Mean Squared Error: 0.09079170193256178
R-squared: 0.9836000861389058
Root mean square error 0.30131661409979005